<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy — Photo Library Usage

Privacy — Photo Library Usage

Privacy — Photo Library Usage

Privacy — Photo Library Usage

Privacy — Photo Library Usage

Privacy — Photo Library Usage

Privacy — Photo Library Usage

Privacy — Photo Library Usage

Privacy — Photo Library Usage</key>
	<string>此應用需要使用您的手機相簿上傳照片。</string>
</dict>
</plist>
